Repository equancy/datalake-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, python-build, python-docs

.gitlab-ci.yml:

---
stages:
- Python Test
- Python Build
- Python Docs
- Python Release

pytest:
  stage: Python Test
  only:
    changes:
      - datalake/**/*
      - tests/**/*
  image: 641143039263.dkr.ecr.eu-west-3.amazonaws.com/runner/ci-python:3.8
  variables:
    CATALOG_URL: http://catalog:8080
    CATALOG_WORKERS: 1
  services:
    - alias: catalog
      name: public.ecr.aws/equancy-tech/datalake-catalog:1.0.1
  before_script:
  - poetry install --quiet
  script:
  - poetry run coverage run -m pytest -q --color=no
  - poetry run coverage report

python-build:
  stage: Python Build
  only:
    changes:
      - datalake/**/*
      - docs/**/*
  image: 641143039263.dkr.ecr.eu-west-3.amazonaws.com/runner/ci-python:3.8
  before_script:
  - poetry install --quiet
  script:
  - poetry build --quiet
  - poetry run sphinx-build docs/ dist/docs/ -q
  cache:
    paths:
    - dist
    policy: push

python-docs:
  stage: Python Docs
  only:
    changes:
      - datalake/**/*
      - docs/**/*
  image:  amazon/aws-cli
  script:
  - aws sts get-caller-identity
  - aws s3 sync dist/docs/ s3://equancy-tech-cloudfront-docs/datalake-framework/latest/ --cache-control='max-age=300'
  cache:
    paths:
    - dist
    policy: pull


nexus-release:
  stage: Python Release
  only:
  - tags
  image: 641143039263.dkr.ecr.eu-west-3.amazonaws.com/runner/ci-python:3.8
  script:
  - poetry config repositories.equancy https://nexus.apps.equancy.cloud/repository/equancy-python/
  - poetry config http-basic.equancy ${NEXUS_USER} ${NEXUS_PASSWORD}
  - poetry publish -r equancy
  cache:
    paths:
    - dist
    policy: pull

pypi-release:
  stage: Python Release
  only:
  - tags
  image: 641143039263.dkr.ecr.eu-west-3.amazonaws.com/runner/ci-python:3.8
  script:
  - poetry publish -u "${PYPI_USER}" -p "${PYPI_PASSWORD}"
  cache:
    paths:
    - dist
    policy: pull

Fix aws creds in ci/cd
  .gitlab-ci.yml
Due: none

Added doc uri in pyproject
  .gitlab-ci.yml
  pyproject.toml
Due: none

Added doc for cloud resources
  .gitlab-ci.yml
  datalake/__init__.py
  docs/cloud.rst
  docs/index.rst
  docs/storage.rst
Due: pytest, python-build, python-docs

Updated documentation
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  docs/cloud-resources.rst
  docs/datacatalog.rst
  docs/index.rst
  docs/monitoring.rst
  pyproject.toml
Due: python-build, python-docs

Fixed CI
  .gitlab-ci.yml
Due: none

Added pytest marker for provider related tests
  pyproject.toml
  tests/providers/aws/test_secret.py
  tests/providers/aws/test_storage.py
  tests/providers/azure/test_secret.py
  tests/providers/azure/test_storage.py
  tests/providers/gcp/test_secret.py
  tests/providers/gcp/test_storage.py
  tests/providers/local/test_secret.py
  tests/providers/secret.py
  tests/providers/storage.py
Due: pytest

Update dependencies
  datalake/__init__.py
  poetry.lock
  pyproject.toml
Due: pytest, python-build, python-docs

Added dataframe for DatasetReader
  datalake/helpers.py
  poetry.lock
  pyproject.toml
  tests/test_helpers.py
Due: pytest, python-build, python-docs

Changed GCP blob copy method
  CHANGELOG.md
  datalake/provider/gcp.py
  poetry.lock
  pyproject.toml
  tests/bucket/big-one/ODD_CSV_V2.zip
  tests/providers/storage.py
Due: pytest, python-build, python-docs

Fixed pandas test dependency
  .gitlab-ci.yml
Due: none

Bump version
  pyproject.toml
Due: none
